body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_3GWDn-x9lIgPePNyobd1hgtgTSwPSTTm4Q&usqp=CAU");
}

.titulo{
  text-align: center;
  color: #00F;
  background: #000; 
  border: 7px ridge #f00;
  margin: 20px;
}

.subtitulo{
  background-color: #f00;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin:20px;
}

#caja{
  margin: 0 auto;
  width: 700px;
  height: 100px;
}

#caja p, #caja2{
  color: #fff;
}

#caja, #caja2{
  background: #000;
}

