.titulo{
  font-family: 'Truculenta', sans-serif;
  font-weight: 800;
}

.titulo2{
  font-family: 'Finger Paint', cursive;
}

.titulo3{
  font-family: 'IM Fell English SC', serif;
}

.titulo4{
  font-family: 'Mystery Quest', cursive;
}

.titulo5{
  font-family: 'Nosifer', cursive;
}
